<% layout('layouts/boilerplate') -%>


<p>Update Info:</p>
<h5><%= currentUser.username %>'s Profile</h5>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			
            <div class="card shadow">
                <div class="card-body">
					
					 <h5 class="card-title">Update Profile</h5>
						<form action="/profile?_method=PUT" method="POST">
					<!-- <form action="/profile" method="POST"> -->
						<div class="mb-3">
							<label class="form-label" for="username">Username:</label>
							<input class="form-control" type="text" id="username" name="username" placeholder="username" value="<%= currentUser.username %>" autofocus required>
						</div>
						<div class="mb-3">
							<label class="form-label" for="current-password">Current Password (required to update profile):</label>
							<input class="form-control" type="password" id="current-password" name="currentPassword" placeholder="current password" required>
						</div>
						<!-- <div class="mb-3">
							<label class="form-label" for="new-password">New Password:</label>
							<input class="form-control" type="password" id="new-password" name="newPassword" placeholder="new password">
						</div>
						<div class="mb-3">
							<label class="form-label" for="password-confirmation">Password Confirmation:</label>
							<input class="form-control" type="password" id="password-confirmation" name="passwordConfirmation" placeholder="password confirmation">
						</div>
						<div id="validation-message"></div> -->
						<!-- <div class="mb-3">
							<label class="form-label" for="email">Email:</label>
							<input class="form-control" type="text" id="email" name="email" placeholder="email" value="">
						</div>
						<div id="validation-message"></div> -->
						<div class="mb-3">
							<label class="form-label" for="fullname">Full Name:</label>
							<input class="form-control" type="text" maxlength="50" id="fullname" name="fullname" placeholder="Full name" value="<%= currentUser.fullname %>" required>
						</div>
						<div id="validation-message"></div>
						<div class="mb-3">
							<label class="form-label" for="address1">Address 1:</label>
							<input class="form-control" type="textbox" maxlength="100"  id="address1" name="address1" placeholder="Address1" value="<%= currentUser.address1 %>" required>
						</div>
						<div id="validation-message"></div>
						
						<div class="mb-3">
							<label class="form-label" for="city">City:</label>
							<input class="form-control" type="text" maxlength="100" id="city" name="city" placeholder="City" value="city" required>
						</div>
						<div id="validation-message"></div>
						
												
						<div class="mb-3">
							<label class="form-label" for="state">State:</label>
								<select>
									<option value="AL">AL</option>
									<option value="AK">AK</option>
									<option value="AR">AR</option>	
									<option value="AZ">AZ</option>
									<option value="CA">CA</option>
									<option value="CO">CO</option>
									<option value="CT">CT</option>
									<option value="DC">DC</option>
									<option value="DE">DE</option>
									<option value="FL">FL</option>
									<option value="GA">GA</option>
									<option value="HI">HI</option>
									<option value="IA">IA</option>	
									<option value="ID">ID</option>
									<option value="IL">IL</option>
									<option value="IN">IN</option>
									<option value="KS">KS</option>
									<option value="KY">KY</option>
									<option value="LA">LA</option>
									<option value="MA">MA</option>
									<option value="MD">MD</option>
									<option value="ME">ME</option>
									<option value="MI">MI</option>
									<option value="MN">MN</option>
									<option value="MO">MO</option>	
									<option value="MS">MS</option>
									<option value="MT">MT</option>
									<option value="NC">NC</option>	
									<option value="NE">NE</option>
									<option value="NH">NH</option>
									<option value="NJ">NJ</option>
									<option value="NM">NM</option>			
									<option value="NV">NV</option>
									<option value="NY">NY</option>
									<option value="ND">ND</option>
									<option value="OH">OH</option>
									<option value="OK">OK</option>
									<option value="OR">OR</option>
									<option value="PA">PA</option>
									<option value="RI">RI</option>
									<option value="SC">SC</option>
									<option value="SD">SD</option>
									<option value="TN">TN</option>
									<option value="TX">TX</option>
									<option value="UT">UT</option>
									<option value="VT">VT</option>
									<option value="VA">VA</option>
									<option value="WA">WA</option>
									<option value="WI">WI</option>	
									<option value="WV">WV</option>
									<option value="WY">WY</option>
								</select>		
						</div>
						<div id="validation-message"></div>
						
						<div class="mb-3">
							<label class="form-label" for="zipcode">ZipCode:</label>
							<input class="form-control" type="number" maxlength="9" minlength="5" id="number" name="number" placeholder="ZipCode" value="zipcode" required>
						</div>
						<div id="validation-message"></div>
						
						<div class="mb-3">
							<label class="form-label" for="address2">Address 2 (optional) :</label>
							<input class="form-control" type="textbox" maxlength="100" id="address2" name="address2" placeholder="Address 2" value="<%= currentUser.address2 %>"> 
						</div>
						<div id="validation-message"></div>
						
						<div class="mb-3">
							<label class="form-label" for="city">City:</label>
							<input class="form-control" type="text" maxlength="100" id="city" name="city" placeholder="City" value="city" required>
						</div>
						<div id="validation-message"></div>
												
						<div class="mb-3">
							<label class="form-label" for="state">State:</label>
								<select>
									<option value="AL">AL</option>
									<option value="AK">AK</option>
									<option value="AR">AR</option>	
									<option value="AZ">AZ</option>
									<option value="CA">CA</option>
									<option value="CO">CO</option>
									<option value="CT">CT</option>
									<option value="DC">DC</option>
									<option value="DE">DE</option>
									<option value="FL">FL</option>
									<option value="GA">GA</option>
									<option value="HI">HI</option>
									<option value="IA">IA</option>	
									<option value="ID">ID</option>
									<option value="IL">IL</option>
									<option value="IN">IN</option>
									<option value="KS">KS</option>
									<option value="KY">KY</option>
									<option value="LA">LA</option>
									<option value="MA">MA</option>
									<option value="MD">MD</option>
									<option value="ME">ME</option>
									<option value="MI">MI</option>
									<option value="MN">MN</option>
									<option value="MO">MO</option>	
									<option value="MS">MS</option>
									<option value="MT">MT</option>
									<option value="NC">NC</option>	
									<option value="NE">NE</option>
									<option value="NH">NH</option>
									<option value="NJ">NJ</option>
									<option value="NM">NM</option>			
									<option value="NV">NV</option>
									<option value="NY">NY</option>
									<option value="ND">ND</option>
									<option value="OH">OH</option>
									<option value="OK">OK</option>
									<option value="OR">OR</option>
									<option value="PA">PA</option>
									<option value="RI">RI</option>
									<option value="SC">SC</option>
									<option value="SD">SD</option>
									<option value="TN">TN</option>
									<option value="TX">TX</option>
									<option value="UT">UT</option>
									<option value="VT">VT</option>
									<option value="VA">VA</option>
									<option value="WA">WA</option>
									<option value="WI">WI</option>	
									<option value="WV">WV</option>
									<option value="WY">WY</option>
								</select>		
						</div>
						<div id="validation-message"></div>
						
						<div class="mb-3">
							<label class="form-label" for="zipcode">ZipCode:</label>
							<input class="form-control" type="number" minlength="5" maxlength="9" id="number" name="number" placeholder="ZipCode" value="zipcode">
						</div>
						<div id="validation-message"></div>
						
						<input type="submit" id="update-profile">
					</form>
					<div class="mb-3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-3"></div>




<br>
<br>
<br>


<p>Update Info:</p>

<!-- <form action="/profile?_method=PUT" method="POST"> -->
 <form action="/users/<%=currentUser._id%>?_method=PUT" method="POST">
	<div>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" placeholder="username" value="<%= currentUser.username %>" autofocus required>
	</div>
	<div>
		<label for="current-password">Current Password (required to update profile):</label>
		<input type="password" id="current-password" name="currentPassword" placeholder="current password" required>
	</div>
	<div id="validation-message"></div>
	<div>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" placeholder="email" value="<%= currentUser.email %>">
	</div>


	<input type="submit" id="update-profile">
</form>

<script src="/javascripts/profile.js"></script>






